<div ng-controller="bankListCtrl">
    <div align="right">
        <button ng-click="newBankDialogRequest()">New bank</button>
    </div>

    <h1>Banks</h1>

    <table ng-table="tableBanks" class="table" show-filter="true">
        <tr ng-repeat="bank in $data">
            <td title="'ID'" filter="{ id: 'number'}" sortable="'id'">
                {{bank.id}}
            </td>
            <td title="'Bank name'" filter="{ name: 'text'}" sortable="'name'">
                {{bank.name}}
            </td>
        </tr>
    </table>
</div>