<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <script src="../js/angular.js"></script>
    <body>

        <div ng-app="app">
            <p ng-controller="formController">
                Name:
                <input type="text" ng-model="currentInput">

                <br/>

                Current input: {{currentInput}}
            </p>

            <p>{{5 | currency}} + {{5 | currency}} = {{5 + 5 | currency}}</p>

            <p w3-test-directive></p>

            <p ng-controller="controllerInFile">
                var01 = {{var01}}

                <br/>

                var05 = <span ng-bind="var05"></span>
            </p>

            <div ng-controller="namesCtrl">

                Name:

                <select name="currentName">
                    <option ng-repeat="x in names | orderBy:'country'">{{x.name}}</option>
                </select>

                <br/>

                Current name: <span ng-bind="currentName"></span>

                <br/><br/>

                Filter: <input type="text" ng-model="filterName">

                <br/>

                <ul>
                  <li ng-repeat="x in names | filter:filterName">
                    {{ x.name + ', ' + x.country }}
                  </li>
                </ul>

            </div>

            <div ng-controller="requestCtrl">
                Request data:
                <span ng-bind="requestData"></span>
            </div>
        </div>

    </body>
</html>
<script src="../js/app.js"></script>
<script src="main.js"></script>
<script src="form_controller.js"></script>
<script src="controller.js"></script>
<script src="../js/banks_controller.js"></script>