<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
   default-init-method="init"
   default-destroy-method="destroy">

   <context:annotation-config />

   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName" value="com.mysql.jdbc.Driver" />
       <property name="url" value="jdbc:mysql://localhost/commerce?useSSL=false" />
       <property name="username" value="root" />
       <property name="password" value="mysql" />
   </bean>

   <bean id="productJdbcTemplate" class="br.com.olivum.java.spring.ProductJdbcTemplate">
      <property name="dataSource" ref="dataSource" />
   </bean>

   <bean id="product" class="br.com.olivum.java.spring.Product" scope="singleton">
      <property name="name" value="Produto 01" />

      <property name="productIdentification">
          <bean id="productIdentification" class="br.com.olivum.java.spring.ProductIdentification" />
      </property>

      <property name="productParts">
          <bean id="productParts" class="br.com.olivum.java.spring.ProductParts">
              <property name="partsList">
                  <list>
                      <value>PART A</value>
                      <value>PART B</value>
                      <value>PART C</value>
                  </list>
              </property>
          </bean>
      </property>
   </bean>

   <bean class="br.com.olivum.java.spring.PostProcessor" />

   <bean id="contextStopEventHandler" class="br.com.olivum.java.spring.ContextStopEventHandler"/>
   <bean id="contextStartEventHandler" class="br.com.olivum.java.spring.ContextStartEventHandler"/>

   <bean id = "customEventHandler" class = "br.com.olivum.java.spring.CustomEventHandler"/>
   <bean id = "customEventPublisher" class = "br.com.olivum.java.spring.CustomEventPublisher"/>
</beans>